.button {
  width: 120px;
  padding: var(--spacing-medium) var(--spacing-medium);
  border-radius: var(--border-radius-small);
  border: none;
  color: var(--font-color-light);
  background-color: var(--secondary-color-darker);
  box-shadow: var(--box-shadow-small);
  font-weight: bold;
}

.button:hover {
  background-color: var(--secondary-color-darkest);
}
