.cartWrapper {
  width: 100%;
  min-height: 100vh;
  padding-top: 6rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;

  background-image: url("/images/background-image.png");
  background-size: cover;
}

.cartContainer {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: var(--spacing-large) var(--spacing-medium);
  box-shadow: var(--box-shadow-small);
  border-radius: var(--border-radius-small);
  background-color: var(--container-color-black);

  width: 90%;
}

.header {
  width: 30%;
  color: var(--font-color-light);
  text-align: center;
  border-bottom: 2px solid var(--container-color-green);
  border-radius: var(--border-radius-small);
  padding: var(--spacing-small);
}

.cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartItem {
  width: 80%;
  display: flex;
  padding: var(--spacing-large) var(--spacing-medium);
  border-bottom: 2px solid var(--container-color-green);
  border-radius: var(--border-radius-small);
}

.imageContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  flex-basis: 20%;
}

.productImage {
  width: 200px;
  height: auto;
  border-radius: var(--border-radius-small);
}

/* ------------------------------ */

.productInfoContainer {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-medium);
}

.productName {
  color: var(--font-color-light);
  flex: 1;
}

.productPriceContainer {
  align-self: flex-end;
  display: flex;
  gap: 1rem;
  padding: 0 var(--spacing-medium);
  color: var(--font-color-light);
}

.priceText {
}

.priceNumber {
  justify-self: flex-end;
  text-align: end;
  width: 100px;
}

/* ------------------------------ */

.toolsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-basis: 25%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--container-color-green);
  padding: var(--spacing-medium);
  border-radius: var(--border-radius-small);
}

.toolsButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border-radius: var(--border-radius-xs);
  border: none;
  font-weight: bold;
  font-size: var(--font-size-large);
  background-color: black;
  color: var(--font-color-light);
}

.toolsButton:hover {
  opacity: 0.9;
}

.toolsButton:active {
  transform: scale(0.95);
}

.removeProductButton {
  margin-left: var(--spacing-medium);
  background-color: var(--color-error);
}

.removeProductButton svg {
  font-size: var(--font-size-base);
}

.cartQuantity {
  color: var(--font-color-light);
  padding: 0 var(--spacing-medium);
  min-width: 3rem;
  text-align: center;
}

/* ------------------- */

.totalPriceContainer {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-xl);
  padding: var(--spacing-xl) 0;
}

.totalPriceHeader {
  color: var(--font-color-light);
  display: flex;
  gap: 1rem;
}

.currencyConverterSelect {
  cursor: pointer;
}

/* ------------------ */

.checkoutButton {
  width: 250px;
  height: 50px;
  border-radius: var(--border-radius-small);
  border: none;
  font-weight: bold;
  font-size: var(--font-size-medium);
  margin: var(--spacing-medium) 0;
}

.checkoutButton:hover {
  opacity: 0.9;
}
.checkoutButton:active {
  transform: scale(0.95);
}
