.contactWrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;

  background-image: url("/images/background-image.png");
  background-size: cover;
}

.formContainer {
  width: 50%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-medium);
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-small);
  padding: var(--spacing-xl);
}

.submitButton {
  background-color: var(--primary-color);
  color: var(--font-color-light);
  font-weight: bold;
  font-size: var(--font-size-base);
  padding: var(--spacing-medium) var(--spacing-xl);
  border-radius: var(--border-radius-small);
  border: none;
}

.submitButton:hover {
  background-color: var(--primary-color-darker);
}

.submitButton:active {
  transform: scale(0.9);
}
