.formRootContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;

  background-image: url("/images/background-image.png");
  background-size: cover;

  color: var(--font-color-light);
}

.formContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-medium);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-small);
  padding: var(--spacing-xl);
}

.formContainer p {
  align-self: flex-start;
}

.submitButton {
  color: var(--font-color-light);
  font-weight: bold;
  font-size: var(--font-size-base);
  padding: var(--spacing-medium) var(--spacing-xl);
  border-radius: var(--border-radius-small);
  border: none;
  color: var(--font-color-dark);
}

.submitButton:hover {
  opacity: 0.9;
}

.submitButton:active {
  transform: scale(0.9);
}

.resetPasswordButton {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-family: inherit;
  font-size: var(--font-size-base);
  color: var(--font-color-light);
}

.forgottenPasswordModalFormContainer {
  width: 50%;
  min-height: 50vh;
  background-color: var(--container-color-black);
  padding: var(--spacing-large) var(--spacing-xl);
  border-radius: var(--border-radius-small);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgottenPasswordModalFormContainer fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-medium);
  padding: var(--spacing-large);
  border-radius: var(--border-radius-small);
}

.forgottenPasswordModalFormContainer legend {
  padding: 0 var(--spacing-small);
}

.groupContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.groupContainer input {
  height: 42px;
  padding-left: var(--spacing-small);
  border-radius: var(--border-radius-small);
  border: none;
}

.forgottenPasswordButtons {
  display: flex;
  gap: var(--spacing-large);
}

.forgottenPasswordButtons button {
  min-height: 42px;
  flex: 1;
  border-radius: var(--border-radius-small);
  border: none;
  color: var(--font-color-light);
  font-weight: bold;
  font-size: var(--font-size-base);
  color: var(--font-color-dark);
  padding: var(--spacing-small);
}

.forgottenPasswordButtons button:hover {
  opacity: 0.9;
}

.forgottenPasswordButtons button:active {
  transform: scale(0.95);
}

@media screen and (max-width: 1080px) {
  .formContainer {
    width: 80%;
  }

  .forgottenPasswordModalFormContainer {
    width: 80%;
  }
}

@media screen and (max-width: 640px) {
  .formContainer {
    width: 90%;
  }

  .forgottenPasswordModalFormContainer {
    width: 90%;
  }
}
