.navbar {
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-medium);
}

.navbarContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-medium);
}

.navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.navbar__brandLogoContainer {
  flex-basis: 25%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.navbar__brandLogoLink {
  display: flex;
  gap: var(--spacing-small);
}

.navbar__icon {
  width: 42px;
  height: auto;
}

.navbar__brandNameWord {
  font-size: var(--font-size-xs);
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar__linksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-large);
}

.navbar__linksTextContainer {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__linksTextContainer a {
  width: 64px;
  text-underline-offset: 4px;
  font-weight: bold;
}

.navbar__linksTextContainer a:hover {
  text-decoration: underline;
}

.navbar__linksButtonsContainer {
  flex-basis: 25%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.navbar__linksButton {
  width: 42px;
  height: 42px;
  box-shadow: var(--box-shadow-small);
  border-radius: var(--spacing-small);
  background-color: var(--primary-color-darker);
}

.navbar__linksButton:hover {
  opacity: 0.9;
}

.active {
  text-decoration: underline !important;
}
