.productsRootContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0;
}

.productContainer {
  width: 90%;
  display: flex;
  border-radius: var(--border-radius-medium);
  box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.5);
  padding: var(--spacing-xl) 0;
}

.productContainer:hover .productImage {
  transform: scale(1);
}

.productContainer:nth-child(even) {
  flex-direction: row-reverse;
}

.imageContainer {
  width: 50%;
  overflow: hidden;
  border-radius: var(--border-radius-large);
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-large);
  object-fit: cover;
  transform: scale(1.05);
  transition: transform 1s ease;
}

.productInfoContainer {
  width: 50%;
  padding: var(--spacing-medium);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-medium);
}

.productInfo {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacing-medium);
}

.moreInfo {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: var(--spacing-medium) 0;
}

.moreInfoButton {
  width: 120px;
  height: 42px;
  color: var(--font-color-light);
  text-decoration: none;
  font-weight: bold;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-small);
}

.moreInfoButton:hover {
  background-color: var(--primary-color-darker);
}

.moreInfoButton:active {
  transform: scale(0.9);
}

@media screen and (max-width: 768px) {
  .productContainer {
    flex-direction: column;
    padding: var(--spacing-xl) 0 0 0;
  }
  .productContainer:nth-child(even) {
    flex-direction: column;
  }

  .imageContainer {
    width: 100%;
  }

  .productInfoContainer {
    width: 100%;
  }
}
