.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 1);
  padding: var(--spacing-medium) 0;
}

.footerContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--font-color-light);
}

.footer p {
  padding: var(--spacing-medium);
}
