.orderCompleteWrapper {
  width: 100%;
  min-height: 100vh;
  padding-top: 6rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("/images/background-image.png");
  background-size: cover;
}

.orderCompleteContainer {
  width: 70%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-large);
  color: var(--font-color-light);
  background-color: var(--container-color-black);
  border-radius: var(--border-radius-small);
  padding: var(--spacing-large);
}

.header {
}

.paragraph {
}

.linkButton {
  width: 200px;
  height: 42px;
  color: var(--font-color-dark);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: var(--border-radius-small);
  text-decoration: none;
}

.linkButton:hover {
  opacity: 0.9;
}

.linkButton:active {
  transform: scale(0.95);
}
