.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--spacing-small);
  background-color: var(--secondary-color);
  /* background-color: rgba(0, 0, 0, 0.8); */
   position: fixed;
   top: 4.5rem;
  z-index: 1000;
}

.navbarContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  flex-basis: 30%;
  text-align: center;
  font-weight: bold;
  color: var(--font-color-light);
  text-decoration: none;
  text-underline-offset: 4px;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar a:active {
  transform: scale(0.9);
}

.active {
  text-decoration: underline !important;
}
