.formRootContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
  background-image: url("/images/background-image.png");
  background-size: cover;

  color: var(--font-color-light);
}

.formContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-medium);
  background-color: var(--container-color-black);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-small);
  padding: var(--spacing-xl);
}

.submitButton {
  color: var(--font-color-dark);
  font-weight: bold;
  font-size: var(--font-size-base);
  padding: var(--spacing-medium) var(--spacing-xl);
  border-radius: var(--border-radius-small);
  border: none;
}

.submitButton:hover {
  opacity: 0.9;
}

.submitButton:active {
  transform: scale(0.95);
}
